---
http_interactions:
- request:
    method: get
    uri: https://weatherapi-com.p.rapidapi.com/current.json?q=Ho+Chi+Minh+City
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-RapidAPI-Host:
      - weatherapi-com.p.rapidapi.com
      X-RapidAPI-Key:
      - REDACTED
  response:
    status:
      code: 200
      message: OK
    headers:
      cdn-cache:
      - HIT
      cdn-cachedat:
      - 06/11/2022 09:35:09
      cdn-edgestorageid:
      - '782'
      cdn-proxyver:
      - '1.02'
      cdn-pullzone:
      - '93447'
      cdn-requestcountrycode:
      - SG
      cdn-requestid:
      - 7234fb07a79bf47a89a5599ccb7e90ff
      cdn-requestpullcode:
      - '200'
      cdn-requestpullsuccess:
      - 'True'
      cdn-status:
      - '200'
      cdn-uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      content-type:
      - application/json
      x-rapidapi-region:
      - AWS - ap-southeast-1
      x-rapidapi-version:
      - 1.2.8
      x-ratelimit-requests-limit:
      - '1000000'
      x-ratelimit-requests-remaining:
      - '999986'
      x-ratelimit-requests-reset:
      - '1575657'
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Ho Chi Minh City","region":"","country":"Vietnam","lat":10.75,"lon":106.67,"tz_id":"Asia/Ho_Chi_Minh","localtime_epoch":1654940109,"localtime":"2022-06-11
        16:35"},"current":{"last_updated_epoch":1654939800,"last_updated":"2022-06-11
        16:30","temp_c":35.0,"temp_f":95.0,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":8.1,"wind_kph":13.0,"wind_degree":290,"wind_dir":"WNW","pressure_mb":1005.0,"pressure_in":29.68,"precip_mm":0.0,"precip_in":0.0,"humidity":50,"cloud":50,"feelslike_c":41.2,"feelslike_f":106.2,"vis_km":10.0,"vis_miles":6.0,"uv":8.0,"gust_mph":5.1,"gust_kph":8.3}}'
  recorded_at: Sat, 11 Jun 2022 09:35:50 GMT
recorded_with: VCR 6.1.0
